[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-clang-format"]
	path = .vim/bundle/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
[submodule ".vim/bundle/vim-cpp-enhanced-highlight.git"]
	path = .vim/bundle/vim-cpp-enhanced-highlight.git
	url = git@github.com:octol/vim-cpp-enhanced-highlight.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/VimCompletesMe"]
	path = .vim/bundle/VimCompletesMe
	url = git@github.com:ajh17/VimCompletesMe.git
[submodule ".vim/bundle/vim-gutentags"]
	path = .vim/bundle/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
