# Ignore everything
*

# But not these files...
!.gitignore
!.bashrc
!.ideavimrc
!.profile
!.vimrc
!.vim/autoload/*
!.vim/CppSnips/*
!.xinitrc
!.Xmodmap
!.Xresources
!.compton.conf
!bin/
!.ncmpcpp
!.zshrc

# But these files
\.config/gtk-2\.0/
\.config/gtk-3\.0/
\.config/kactivitymanagerdrc
\.config/okularpartrc
\.config/okularrc
\.config/QtProject\.conf
\.config/i3/config
