"MISC SETTINGS
set tabstop=4
set softtabstop=4
set shiftwidth=4
set noexpandtab
set mouse=a
set sidescroll=1
set clipboard=unnamedplus
set cursorline
set wildmode=longest,list,full
set esckeys
set hlsearch!
set backspace=indent,eol,start

"FOLDING
set foldmethod=syntax
set foldnestmax=1
set foldopen+=jump
set foldopen+=quickfix
set foldopen+=search
set foldopen+=tag
set foldopen+=insert
set foldopen+=undo
set foldopen+=mark

"KEYBINDINGS
nnoremap <Space> <Nop>
let mapleader = " "

noremap <Leader>y "*y
noremap <Leader>p "*p
noremap <Leader>Y "+y
noremap <Leader>P "+p

map <C-q> :q<Cr>
map <C-s> :w<Cr>
map <Leader>fq :q!<Cr>

imap <C-l> <Esc>lei
imap <C-h> <Esc>hbi

nnoremap <Leader>hh :A<Cr>
nnoremap <Leader>hx :AS<Cr>
nnoremap <Leader>hv :AV<Cr>

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
map <Cr><Cr> o<Esc>

nnoremap <S-h> 4h
nnoremap <S-j> 4j
nnoremap <S-k> 4k
nnoremap <S-l> 4l

noremap! <C-BS> <C-w>
noremap! <C-h> <C-w>

map # ^

"LINE NUMBERS
set number relativenumber
highlight clear LineNr
highlight clear CursorLineNr
highlight clear SignColumn
highlight LineNr guibg=NONE
